<div>
    <h2 id="page-heading">
        <span jhiTranslate="funparkApp.operadorCaixa.home.title">Operador Caixas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operador-caixa" [routerLink]="['/operador-caixa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="funparkApp.operadorCaixa.home.createLabel">
            Create a new Operador Caixa
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="operadorCaixas?.length === 0">
        <span jhiTranslate="funparkApp.operadorCaixa.home.notFound">No operadorCaixas found</span>
    </div>
    <div class="table-responsive" *ngIf="operadorCaixas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="funparkApp.operadorCaixa.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cpf"><span jhiTranslate="funparkApp.operadorCaixa.cpf">Cpf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idLoja"><span jhiTranslate="funparkApp.operadorCaixa.idLoja">Id Loja</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lojaId"><span jhiTranslate="funparkApp.operadorCaixa.loja">Loja</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operadorCaixa of operadorCaixas ;trackBy: trackId">
                <td><a [routerLink]="['/operador-caixa', operadorCaixa.id, 'view' ]">{{operadorCaixa.id}}</a></td>
                <td>{{operadorCaixa.nome}}</td>
                <td>{{operadorCaixa.cpf}}</td>
                <td>{{operadorCaixa.idLoja}}</td>
                <td>
                    <div *ngIf="operadorCaixa.lojaId">
                        <a [routerLink]="['/loja', operadorCaixa.lojaId , 'view' ]" >{{operadorCaixa.lojaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/operador-caixa', operadorCaixa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/operador-caixa', operadorCaixa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(operadorCaixa)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="operadorCaixas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
