<div>
    <h2 id="page-heading">
        <span jhiTranslate="funparkApp.lojaMaquina.home.title">Loja Maquinas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-loja-maquina" [routerLink]="['/loja-maquina/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="funparkApp.lojaMaquina.home.createLabel">
            Create a new Loja Maquina
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="lojaMaquinas?.length === 0">
        <span jhiTranslate="funparkApp.lojaMaquina.home.notFound">No lojaMaquinas found</span>
    </div>
    <div class="table-responsive" *ngIf="lojaMaquinas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maquinaId"><span jhiTranslate="funparkApp.lojaMaquina.maquina">Maquina</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lojaId"><span jhiTranslate="funparkApp.lojaMaquina.loja">Loja</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lojaMaquina of lojaMaquinas ;trackBy: trackId">
                <td><a [routerLink]="['/loja-maquina', lojaMaquina.id, 'view' ]">{{lojaMaquina.id}}</a></td>
                <td>
                    <div *ngIf="lojaMaquina.maquinaId">
                        <a [routerLink]="['/maquina', lojaMaquina.maquinaId , 'view' ]" >{{lojaMaquina.maquinaNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lojaMaquina.lojaId">
                        <a [routerLink]="['/loja', lojaMaquina.lojaId , 'view' ]" >{{lojaMaquina.lojaNomeFantasia}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/loja-maquina', lojaMaquina.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/loja-maquina', lojaMaquina.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_LOJA_MAQUINA_DELETE'" type="submit" (click)="delete(lojaMaquina)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lojaMaquinas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
