<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="receitas">
            <h2><span jhiTranslate="funparkApp.receitas.detail.title">Receitas</span> {{receitas.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="funparkApp.receitas.descricao">Descricao</span></dt>
                <dd>
                    <span>{{receitas.descricao}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/receitas', receitas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
